

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    margin-bottom: 5px;
}
input, textarea {
    background-color: #333;
    border: none;
    border-bottom: 1px solid #555;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 15px;
}
button {
    background-color: #9ACD32;
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    align-self: flex-start;
}
button:hover {
    background-color: #8FBC8F;
}