main {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 140px;
    margin-bottom: 100px;
    line-height: 140px;
}
.tool-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tool {
    display: flex;
    gap: 20px;
    align-items: center;
}
.tool h2 {
    font-size: 48px;
    margin: 0;
    flex: 1;
}
.tool-info {
    flex: 1;
    margin: 0;
}
.tool-info p {
    line-height: 1.5;
    margin-bottom: 10px;
}
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b4d335;
    color: #000000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
}

.divider{
    height: 1px;
    background: linear-gradient(45deg, #3498db, #2ecc71);
}



/* Responsieve aanpassingen */
@media (max-width: 1024px) {
    .hero h2, .history-section h2, .tools h2.color-text {
        font-size: 48px;
    }

    .info-container, .history-content {
        flex-direction: column-reverse;
        align-items: center;
    }

    .info-image, .history-text {
        width: 100%;
        position: static;
        margin-bottom: 20px;
        padding: 0;
    }

    .info-content, .history-image {
        width: 100%;
        padding: 20px;
        padding: 0;
    }

    .history-section {
        margin-top: 100px;
        padding-top: 100px;
    }

  

    .history-section h2 {
        position: static;
        margin-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .hero {
        padding: 50px 0;
    }

    .hero h1 {
        margin: 30px 0;
    }

    .hero h2, .history-section h2, .tools h2.color-text {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .info-section {
        margin-top: 60px;
    }

    .info-content h2 {
        font-size: 28px;
    }

    .info-content p, .history-text p, .tool-info p {
        font-size: 16px;
    }

    .history-text h3 {
        font-size: 20px;
        margin: 40px 0 10px;
    }

    .tool {
        flex-direction: column;
        align-items: flex-start;
    }

    .tool h2 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .tools {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .hero h2, .history-section h2, .tools h2.color-text {
        font-size: 28px;
    }

    .info-content h2 {
        font-size: 24px;
    }

    .tool h2 {
        font-size: 28px;
    }

    .info-image {
        height: 300px;
    }
}